extends layout

block content
    .nav.outer
        .inner
            .col-md-12
                a(href='/').title tela threads
                div.nav-right
                    a(href='/cart') Cart
    .main.about
        .col-md-6
            img(src='/imgs/logo-black.png')
        .col-md-6
            h3 About
            p Tela Threads is a company focused on creating premium products. We strive to make sure that we are creating the most premium products possible. Tela is pronounced #[i Tëla]. If you ever need any help, reach out to us at #[a(href='mailto:telathreads@gmail.com') telathreads@gmail.com].
