extends layout

block content
	.container(ng-controller='AdminCtrl', ng-init='products=#{JSON.stringify(products)}; orders=#{JSON.stringify(orders)}')
		h1 Admin
		.row
			.col-md-6
				h3 Products
				ul.list-group
					li(ng-repeat='product in products').list-group-item
						a( ng-href='/product/{{product.id}}') {{product.name}} 
						span.badge ${{product.price}}
						p(ng-click='removeProduct(product)').glyphicon.glyphicon-remove
						button(ng-click='updateProductClick(product)').btn.btn-warning Update Product
				h3 Orders
				ul.list-group
					div(ng-repeat='order in orders').list-group-item
						h4 {{order.name}} - {{order.email}}
						div
							span {{order.address_line1}} {{order.address_line2}}, {{order.address_city}} {{order.address_state}}, {{order.address_zip}} 
						br
						b Products
						div(ng-repeat='product in order.products')
							a(ng-href='/product/{{product.id}}' ng-if='product.size'){{product.id}} - {{product.size}}
							a(ng-href='/product/{{product.id}}' ng-if='!product.size'){{product.id}}
						br
						button(ng-click='shipOrder(order)').btn.btn-success Ship Product
						
			.col-md-6
				h3 New Product
				input(ng-model='newproduct.name' placeholder='Name').form-control
				br
				textarea(ng-model='newproduct.desc' placeholder='Description').form-control
				br
				input(ng-model='newproduct.photos' placeholder='Images (no space, separated by commas)').form-control
				br
				input(ng-model='newproduct.sizes' type='checkbox') 
				span  For product to have sizes
				br
				br
				input(ng-model='newproduct.unlisted' type='checkbox') 
				span  Check the box if you want the product to be unlisted.
				br
				br
				div.input-group
					span.input-group-addon $
					input(ng-model='newproduct.price' placeholder='Price' type='number').form-control
				br
				button(ng-click='addProduct(newproduct)').btn.btn-primary Add Product
				br
				br
				button(ng-click='updateProduct(newproduct)').btn.btn-primary Update Product
