extends layout

block content
    .nav.outer
        .inner
            .col-md-12
                a(href='/').title tela threads
                div.nav-right
                    a(href='/cart') Cart
    .main(ng-controller='CartCtrl')
        .col-md-12
            h2 Cart
        .col-md-6
            .cart-info(ng-repeat='product in products')
                    a(ng-href='/product/{{product.id}}' ng-if='product.sizes') {{product.name}} - {{product.size}}
                    a(ng-href='/product/{{product.id}}' ng-if='!product.sizes') {{product.name}}
                    br
                    span {{product.price}} USD
                    p(ng-click='removeProduct(product)').glyphicon.glyphicon-remove
        .col-md-6
            h3.total-price Total Price: {{totalPrice}} USD
            button(ng-click='checkout()').button.checkout-button checkout
            p free shipping
            a(onClick="javascript:history.go(-1);" href) Back
