extends layout

block content
	.home-top.outer
		.inner
			img(src='/imgs/logo-white.png')
	.footer-top.outer
		.inner
			p Browse the collection
	.nav.outer
		.inner
			.col-md-12
				a(href='/').title tela threads
				div.nav-right
					a(href='/cart') cart
	.main(ng-controller='HomeCtrl', ng-init='products=#{JSON.stringify(products)}')
		.col-md-12
			h3 Products
		.col-md-4.product-info(ng-repeat='product in products' ng-click='change(product)' ng-hide='product.unlisted')
			.product-info-img(ng-style="{'background-image':'url({{product.photos[0]}})'}")
			a {{product.name}}
			span {{product.price}} USD
	.col-md-12.footer
		.main.main-bottom
			p Tela Threads #[a(href='/about') About]
