doctype html
html(ng-app='app')
    head
        title= title
        link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous")
        link(rel='stylesheet', href='/css/style.css')
        meta(name="viewport" content="width=device-width, initial-scale=1")
        link(rel="shortcut icon" href="/imgs/favicon.ico" type="image/x-icon")
        link(rel="icon" href="/imgs/favicon.ico" type="image/x-icon")
    body
        block content
        script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0-rc.0/angular.min.js')
        script(src="https://checkout.stripe.com/checkout.js")
        script(src='https://js.stripe.com/v2/')
        script(src='/js/index.js')
        script.
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

            ga('create', 'UA-64318963-10', 'auto');
            ga('send', 'pageview');
