extends layout

block content
    .container
        .row
            .col-md-4
                h1 Login
                form(action='/login' method='POST')
                    input.form-control(type='text', placeholder='Username' name='username')
                    br
                    input.form-control(type='password', placeholder='Password' name='password')
                    br
                    button(type='submit').btn.btn-success Login!
