extends layout

block content
    .nav.outer
        .inner
            .col-md-12
                a(href='/').title tela threads
                div.nav-right
                    a(href='/cart') Cart
    .main
        .col-md-6
            h3 Order ID: #{order._id}
            p Success, we have recieved your order! We'll send you an email once we ship it!
