extends layout

block content
	.nav.outer(ng-init='count=0')
		.inner
			.col-md-12
				a(href='/').title tela threads
				div.nav-right
					a(href='/cart') Cart
	.main(ng-controller='ProductCtrl', ng-init='product=#{JSON.stringify(product)}')
		.col-md-6
			img(ng-src='{{product.photos[count]}}').product-photo
			br
			br
			button(ng-click="addCount()" ng-if='product.photos.length > 1').button
				span.glyphicon.glyphicon-chevron-right
		.col-md-6.product
			h1 {{product.name}}
			h3.price {{product.price}} USD
			p {{product.desc}}
			select(ng-model='product.size', ng-if='product.sizes').select
				option Small
				option Medium
				option Large
				option Extra Large
			br
			br
			button(ng-click='addToCart(product)').button Add To Cart 
				span.glyphicon.glyphicon-shopping-cart
