@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
@import url(https://fonts.googleapis.com/css?family=Nunito);
* {
    margin: 0;
    padding: 0;
}
html, body {
    height: 100%;
    width: 100%;
    font-family: 'Nunito', sans-seif;
    color: #000;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.outer {
    display: table;
}
.inner {
    display: table-cell;
    vertical-align: middle;
}
.main {
    width: 60%;
    margin: 0 auto 50px auto;
}
.main h2 {
    letter-spacing: 2px;
    font-size: 25px;
}
.nav {
    width: 60%;
    height: 100px;
    margin: 0 auto;
    font-family: 'Montserrat', sans-serif;
}
.nav a {
    letter-spacing: 5px;
    display: inline-block;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 15px;
}
.title {
    float: left;
}
.nav-right {
    float: right;
    text-transform: uppercase;
}
.nav-right a {
    font-weight: 400;
    color: #c7c7cc;
}
.product-info {
    margin-bottom: 20px;
    cursor: pointer;
    text-align: center;
}
.cart {
    cursor: default;
}
.glyphicon-remove {
    cursor: pointer;
}
.product-info a {
    font-size: 20px;
    text-align: center;
    margin: 0 auto;
}
.product-info-img {
    width: 100%;
    height: 200px;
    background-size: cover;
    background-position: top;
}
.product-info span {
    display: block;
    text-align: center;
    margin-top: 4px;
    color: #c7c7cc;
    font-size: 12px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}
.product-photo {
    max-width: 100%;
}
a {
    text-decoration: none;
    color: #000;
    transition: all .3s ease;
}
a:hover {
    text-decoration: none;
    color: #c7c7cc;
    transition: all .3s ease;
}
.product h1 {
    color: #000;
    font-weight: bold;
    font-size: 30px;
    letter-spacing: 2px;
    margin: 0;
}
.price {
    color: #c7c7cc;
    font-size: 20px;
    letter-spacing: 4px;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
}.cart-info {
    margin: 10px 0;
}
.cart-info a {
    font-size: 18px;
}
.cart-info span {
    color: #c7c7cc;
    font-family: 'Montserrat', sans-serif;
}
.cart-info p {
    margin-top: -20px;
    float: right;
}
.total-price {
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-size: 15px;
    letter-spacing: 2px;
    margin: 0;
}
.product p {
    color: #000;
}
.button {
    letter-spacing: 5px;
    font-size: 12px;
    color: #fff;
    background-color: #000;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    padding: 10px 20px;
    border: none;
    text-transform: uppercase;
}
.select {
    border: solid 2px #c7c7cc;
    border-radius: none;
    padding: 10px 20px;
    color: #c7c7cc;
    background-color: #fff;
}
.checkout-button {
    margin: 10px 0;
}
.cover {
    background-color: rgba(0, 0, 0, .5);
    width: 100%;
    height: 100%;
}
.home {
    padding: 0;
    height: 400px;
    background-size: cover;
    width: 100%;
    margin-bottom: 25px;
}
.home h1 {
    letter-spacing: 5px;
    color: #fff;
}
.home p {
    font-family: 'Montserrat';
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #ecf0f1;
}
@media(min-width: 51em) {
    .cart-title {
        display: block;
    }
}
.home-top {
    height: 90%;
    width: 100%;
    background-color: #000;
    text-align: center;
}
.home-top img {
    width: 250px;
}
.footer-top {
    height: calc(10% + 1px);
    width: 100%;
    background-color: #000;
    font-size: 15px;
    font-style: italic;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 4px;
}
.about img {
    width: 100%;
}
.about h3 {
    margin: 0 0 20px 0;
}
.about i {
    color: #c7c7cc;
}
.footer {
    background-color: #000;
    padding: 50px 0;
    margin: 0;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 12px;
    text-align: center;
    margin-top: 100px;
}
.main-bottom {
    margin: 0 auto;
}
.footer p {
    padding: 0;
}
.footer a {
    color: #fff;
}
.footer a:hover {
    color: #c7c7cc;
}
@media (max-width: 50em) {
    .title {
        float: left;
        margin-right: 20px;
    }
    .nav-right {
        display: block;
        float: left;
    }
    .nav {
        width: 80%;
    }
    .main {
        width: 80%;
    }
    .col-md-6 {
        width: 100%;
    }
}
